In [6]:
import pandas as pd

cols = ["title", "price", "listPrice", "stars", "reviews"]

df = pd.read_csv("../data/amazon_products.csv", usecols=cols)

df.head()

,title,stars,reviews,price,listPrice
0,"Sion Softside Expandable Roller Luggage, Black...",4.5,0,139.99,0.00
1,Luggage Sets Expandable PC+ABS Durable Suitcas...,4.5,0,169.99,209.99
2,Platinum Elite Softside Expandable Checked Lug...,4.6,0,365.49,429.99
3,Freeform Hardside Expandable with Double Spinn...,4.6,0,291.59,354.37
4,Winfield 2 Hardside Expandable Luggage with Sp...,4.5,0,174.99,309.99

In [7]:
df.shape

(1426337, 5)

In [8]:
df = df.sample(100000, random_state=42)
df.shape

(100000, 5)

In [9]:
df["price"] = pd.to_numeric(df["price"], errors="coerce")
df["listPrice"] = pd.to_numeric(df["listPrice"], errors="coerce")

df.isnull().sum()

title        0
stars        0
reviews      0
price        0
listPrice    0
dtype: int64

In [10]:
df["discount_percent"] = ((df["listPrice"] - df["price"]) / df["listPrice"]) * 100

df[["title","price","listPrice","discount_percent"]].head()

,title,price,listPrice,discount_percent
904813,Jitsu Squad (PS5),39.82,0.00,-inf
426645,Google WiFi Wall Mount ABS Bracket Holder Shel...,11.99,0.00,-inf
395996,"Cables Direct Online, Bulk 18/4 Stranded Condu...",94.95,0.00,-inf
986224,"Houseables 4 Oz Plastic Containers with Lids, ...",13.58,15.39,11.760884
1132337,co2CREA Hard Travel Case Replacement for TP-Li...,14.99,0.00,-inf

In [11]:
df = df[df["listPrice"] > 0]

In [12]:
df["discount_percent"] = ((df["listPrice"] - df["price"]) / df["listPrice"]) * 100
df.describe()

,stars,reviews,price,listPrice,discount_percent
count,24404.000000,24404.000000,24404.000000,24404.000000,24404.000000
mean,4.222451,352.100516,39.821667,51.622761,21.052215
std,0.999256,2696.104470,64.838106,83.114564,14.346300
min,0.000000,0.000000,0.000000,1.740000,-353.218495
25%,4.200000,0.000000,11.990000,15.390000,10.010010
50%,4.500000,0.000000,19.990000,25.990000,17.630056
75%,4.700000,0.000000,38.952500,49.990000,29.391963
max,5.000000,118833.000000,916.950000,999.950000,100.000000

In [13]:
def classify_discount(d):
    if d < 0:
        return "Fake Price"
    elif d > 80:
        return "Suspicious Discount"
    else:
        return "Normal Discount"

df["discount_type"] = df["discount_percent"].apply(classify_discount)

df["discount_type"].value_counts()

discount_type
Normal Discount        24355
Fake Price                28
Suspicious Discount       21
Name: count, dtype: int64

In [14]:
df[df["discount_type"] == "Fake Price"][["title","price","listPrice","discount_percent"]].head(10)

,title,price,listPrice,discount_percent
1174526,Petz Catz 2 - Nintendo DS,32.97,17.00,-93.941176
73364,Kingdom Hearts III - PlayStation 4 Deluxe Edition,73.49,59.99,-22.503751
315827,NBA 2K19 (Nintendo Switch),49.99,11.03,-353.218495
315341,The Last Samurai,19.99,5.97,-234.840871
580842,"252-LCT100 Lens Cleaning Towelette Dispenser, ...",15.33,13.04,-17.561350
1176536,FIFA Soccer 09 All-Play - Nintendo Wii,19.50,15.99,-21.951220
652370,Dead Alliance: Day One Edition - Xbox One,21.49,18.41,-16.730038
919197,Shaun White Snowboarding - Sony PSP,26.99,10.72,-151.772388
736876,Life Is Strange: True Colors Standard - Xbox [...,59.99,29.99,-100.033344
792360,wet n wild Fantasy Makers Halloween Paint Pale...,6.95,6.49,-7.087827

In [1]:
import matplotlib.pyplot as plt
import seaborn as sns

plt.figure(figsize=(8,5))
sns.countplot(x="discount_type", data=df)
plt.title("Distribution of Discount Types")
plt.xticks(rotation=20)
plt.show()

Matplotlib is building the font cache; this may take a moment.

NameError: name 'df' is not defined